*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inknut Antiqua", serif;
}
nav{
    background-color: #5f8b50;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    font-size: larger;
    align-items: center;
}
.menu{
    background-color: #b7d0ae;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
img{
    width: 98px;
    height: 100px;
}
.pages{
    background-color: #5f8b50;
    border-radius: 10px;
    text-decoration-line: none;
    color: aliceblue;
    height: 40px;
    margin-top: 5px;
    width: 20%;
    text-align: center;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

}
.button{
    background-color: #5f8b50;
    border-radius: 10px;
    text-decoration-line: none;
    color: aliceblue;
    height: 40px;
    width: 100px;
    text-align: center;    
    border:none;
    cursor: pointer;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}
.button:hover{
    color:#0c2305;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgb(1, 53, 9);;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.introduction{
    display: flex;
    background-color: #b7d0ae;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 2%;
}
section.persons{   
    padding: 50px;
  
}
.cards{
    display: flex;
    background-color: #b7d0ae;
    justify-content: center;
    margin-top: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 2%;
    width: 100%;
    height: 500px;
}

.text{
    align-items: center;
    margin-left: 3%;
    margin-top: 12%;

}
.ImgInspirations{
    width: 360px;
    height:auto;
    background-position: cover;
    transition: 8s;
    cursor: pointer;
    border-radius: 35px;
    position: relative;
    justify-content:space-between;
}
.ImgInspirations:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    color: #fff;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}
.pages:hover{
    color:#0c2305;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgb(1, 53, 9);
}
.list{
    text-decoration: none;
}

.petitions{
    display: flex;
    flex-direction: column;
    background-color: #b7d0ae;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 2%;
}

.climate{
    display: flex;
    flex-direction: column;
    background-color: #b7d0ae;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 2%;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: #b7d0ae;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 2%;
}